.container-1{
    border: 1px solid black;
}
.flex-box-container-1{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
}